--- 
layout: base.njk 
title: "My Blog" 
cssFiles: ["content/styles/post-index.css", "content/styles/post-listing.css"]
---

<p class="metadata">
  {{collections.postsWithYears | length}} posts since
  {{ (collections.postsWithYears | first).date | dateformat }}
</p>

<h1 class="big-title">Blog</h1>

{%- for year in collections.uniquePostYears | reverse -%}
  {% if year != collections.uniquePostYears | reverse | first %}
    <hr class="year-listing">
  {% endif %}
  <ul>
    {%- for post in collections.postsWithYears | reverse -%}
      {% if year == post.year %}
        {# {% include "post-listing.njk" %} #}
      {% endif %}
    {%- endfor -%}
  </ul>
{%- endfor -%}