.post-listing-flex {
  display: flex;
  align-items: baseline;
}

.post-listing a {
  color: currentColor;
  text-decoration: none;
}

.post-listing p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.post-listing p:last-child {
  margin-bottom: 0;
}

.post-listing .title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.3em;
  line-height: 1.25;
}

.post-listing .blurb {
  font-size: 0.8em;
}

.post-listing .date {
  margin-right: 1em;
  margin-bottom: 0.5em;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .post-listing-flex {
    flex-direction: column;
  }
}
