---
layout: base.njk 
title: Home
topbarShowsNameplate: false
cssFiles: [
    "content/styles/post-listing.css",
    "content/styles/portfolio-listing.css",
    "content/styles/index.css"
]
---

<section class="bigTitle">
    <h1 class="yikes">I'm James!</h1>
</section>

<section class="index-above-fold">
{% autoImg
    style = "height: auto;",
    classList = "headshot",
    url = "https://files.jameslittle.me/images/headshot.jpg",
    alt = "A headshot of James Little" 
%}

<div class="copy">
<p>I'm a software engineer and design enthusiast from Boston, Massachusetts.</p>
<p>I'm interested in how people interact with technology, and I want to make interfacing with the digital world simpler and more intuitive through the software I create.</p>
</div>

</section>

<section class="index-below-fold">

<div class="copy">
<p>I'm currently working at Stripe, building in-person payment experiences on the Terminal team. I've also helped build the Stripe Dashboard iOS app.</p>
<p>I started at Stripe after graduating from Bowdoin College in Brunswick, Maine, where I majored in Computer Science, built a website for the student newspaper, and made robots play soccer.</p>
</div>
</section>

<section class="index-content-section">
    <div class="section-header">
        <h2>Blog</h2>
        <a href="/blog">See more →</a>
    </div>

    <ul>
        {% for post in collections.post | reverse %}
            {% if loop.index <= 5 %}
                {# {{ component('list-element', {
                    metatext: 'post.date',
                    title: 'post.data.title',
                    blurb: 'post.data.blurb',
                    url: 'post.url',
                }) }} #}
            {% endif %}
        {% endfor %}
    </ul>

</section>

<section class="index-content-section">
    <div class="section-header">
        <h2>Projects</h2>
        <a href="/portfolio">See more →</a>
    </div>

    <ul class="portfolio-list">
        {% for project in collections.portfolio | reverse %}
            {% if loop.index <= 3 %}
                {% include "portfolio-listing.njk" %}
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="index-content-section">
    <div class="section-header">
        <h2>Contact</h2>
    </div>

    <p>I'd love to get in touch. Send me an email at jameslittle230 (it's at gmail dot com) or tweet something at me @jameslittle230. I'm also on other various places on the internet, which are listed in the page's footer. &darr;</p>
</section>