---
layout: base.njk 
title: Home 
---

<link rel="stylesheet" href="/styles/post-listing.css"/>
<link rel="stylesheet" href="/styles/portfolio-listing.css"/>

{% img style = "float: right; width: 40%; margin: 0 0 2em 2em",
ratio = "150%",
classList = "headshot",
urlbase = "https://files.jameslittle.me/images/headshot" %}

<h1 style="margin-top: 0">Hi, I'm James Little!</h1>

<p>I'm an iOS and web developer and designer from Boston, currently living in San Francisco, Calif.</p>

<p>I'm currently working on
    <a href="https://stripe.com/terminal">Terminal</a>, at
    <a href="https://stripe.com">Stripe</a>, a company that builds financial infrastructure for the internet.</p>

<p>I started there after graduating from
    <a href="https://bowdoin.edu">Bowdoin College</a>
    in Brunswick, Maine, where I majored in Computer Science, worked as the Digital Director for the
    <a href="https://bowdoinorient.com">student newspaper</a>, and
    <a href="https://www.youtube.com/watch?v=r7XT98HchBs">played with robots</a>.</p>

<p>
    <strong>I'm interested in how people interact with technology, and I want to make interfacing with the digital world simpler and more intuitive through the software I create.</strong>
</p>

<div class="section-heading" style="clear: both">
    <h2>Recent Blog Posts</h2>
    <a href="/blog">See the rest →</a>
</div>

<ul>
    {% for post in collections.post | reverse %}
        {% if loop.index <= 3 %}
            {% include "post-listing.njk" %}
        {% endif %}
    {% endfor %}
</ul>

<div class="section-heading" style="clear: both">
    <h2>My Work</h2>
    <a href="/portfolio">See the rest →</a>
</div>

<ul class="portfolio-list">
    {% for project in collections.portfolio | reverse %}
        {% if loop.index <= 3 %}
            {% include "portfolio-listing.njk" %}
        {% endif %}
    {% endfor %}
</ul>

<h2>Contact</h2>

<p>I'd love to get in touch. I <strong>strongly</strong> prefer email: send me one at jameslittle230 (it's at gmail dot com). I'm also on various places on the internet, which are listed in the page's footer. &darr;</p>

<style>
    .section-heading {
        margin-top: 3em;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .see-the-rest {
        }

    h2 a:active,
    h2 a:link,
    h2 a:visited {
        color: currentcolor;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    @media (max-width: 500px) {
        .headshot {
            display: none;
        }
    }
</style>