---json
{
  "permalink": "stork-posts.toml",
  "eleventyExcludeFromCollections": true
}
---

[input]
url_prefix = "https://jameslittle.me"

{%- for post in collections.post %}
{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}

[[input.files]] 
path = "{{post.inputPath}}"
url = "{{absolutePostUrl}}"
title = "{{post.data.title | safe}}"
filetype = "Markdown" # Not accurate for all pages, but will get close enough

{%- endfor %}