---json
{
  "permalink": "stork-posts.toml",
  "eleventyExcludeFromCollections": true
}
---

[input]
url_prefix = "https://jameslittle.me"

{%- for post in collections.post %}
{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}

[[input.files]] 
contents = '''
<main>
{{post.templateContent | safe}}
</main>
'''

url = "{{absolutePostUrl}}"
title = "{{post.data.title | safe}}"
filetype = "HTML"

{%- endfor %}