:root {
  --primary-color: #3bef8f;
  --secondary-color: #c5369a;
  --font-color: #182b28;
  --muted-color: #535e5c;
  --bg-color: #d8d8d8;
  --link-color: #007e76;
  --visited-color: #9f10ac;
  --badge-color: #cfcfcf;
  --heading-color: #163833;
  --white-override: #ffffff;
  --black-override: #182b28;

  --page-primary-color: #296636;

  --page-width: 45rem;

  --shadow: 0 0.9px 2.1px rgba(0, 0, 0, 0.031),
    0 2.1px 5.1px rgba(0, 0, 0, 0.039), 0 3.9px 9.7px rgba(0, 0, 0, 0.044),
    0 6.9px 17.3px rgba(0, 0, 0, 0.048), 0 13px 32.7px rgba(0, 0, 0, 0.053),
    0 31px 80px rgba(0, 0, 0, 0.07);

  --font-family: "Columba Text Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --mono-font-family: "jetbrains mono", monospace;
}

[data-theme="dark"] {
  --font-color: #d7dfdd;
  --muted-color: #7d8885;
  --bg-color: #1d1d20;
  --link-color: #26d5c9;
  --visited-color: #cfa4f4;
  --badge-color: #575757;
  --heading-color: #d5f2da;
}

*,
*:after,
*:before {
  position: relative;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin: 0;
}

:root {
  font-size: 22px;
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 20px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  line-height: 1.4;
  background-color: var(--bg-color);
}

.layout, main > section {
  display: grid;
  grid-template-columns: 1fr 9rem 20rem 20rem 1rem 1fr;
  grid-template-areas: "l-gutter l-margin l-content r-content r-margin r-gutter";
}

:root {
  --left: l-margin / l-content-end;
  --right: r-content / r-margin-end;
  --center-column: l-content / r-content-end;
  --center-wide: l-margin / r-margin-end;
}

.center-col {
  grid-column: var(--center-column);
}

.center-col-wide {
  grid-column: var(--center-wide);
}

.screen-reader {
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--header-font-family);
}

h4, h5, h6 {
  font-size: 1rem;
}

h5 {
  font-style: italic;
}

h6 {
  opacity: 0.75;
}

.bigTitle {
  padding: 0;
  background: var(--page-primary-color);
}

.bigTitle > .yikes {
  grid-column: var(--center-wide);
}

.yikes {
  font-family: "Okay Type - for webfont use only";
  font-size: 5rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 0.1em;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85)
}