@import "/styles/portfolio-listing.css";

.portfolio-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 3em;

  margin-top: 3vw;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 750px) {
  .portfolio-index {
    width: 80vw;
    margin-left: calc(-40vw + 350px);
  }
}