.portfolio-listing {
  /* padding: 1em; */
  transition: box-shadow 0.15s ease-out;
  font-size: 0.9em;
}

.portfolio-listing a {
  color: currentColor;
  text-decoration: none;
}

.portfolio-listing img {
  width: 100%;
}

.portfolio-listing:hover {
  box-shadow: var(--shadow);
}

.portfolio-listing .text {
  padding: 0 1em;
}

.portfolio-listing h2 {
  margin-top: 0.5em;
  line-height: 1.2;
}

.portfolio-listing .stats {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  opacity: 0.7;
}