.pre-article {
  margin-bottom: 2em;
}

article {
  line-height: 1.75;
}

article > * {
  margin: 0;
  margin-bottom: 1.5em;
}

article > pre {
  box-shadow: 3px 3.5px 0 var(--bg-color), 0.7em 0.7em 0 var(--secondary-color);
}

.metadata > *:last-child {
  margin-bottom: 0;
}

/**
 * Shadow looks weird in dark mode so let's change it to a border.
 */
[data-theme="dark"] article > pre {
  box-shadow: none;
  border: 1px solid var(--secondary-color);
}

.whoami-text {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 0.8em;
}

.related-links {
  padding: 1.5em 0;
}

.related-links a {
  display: block;
}

.related-links .prev-article-link {
  width: 50%;
}

.related-links .next-article-link {
  text-align: right;
  width: 50%;
}

/**
 * FOOTNOTES
 */

sup.footnote-ref {
  vertical-align: bottom;
}

[data-theme="dark"] .footnote-button {
  background: rgba(233, 230, 230, 0.7);
}

[data-theme="dark"] .footnote-button:after,
[data-theme="dark"] .footnote-button:hover:after {
  color: var(--black-override);
}

[data-theme="dark"] .footnote-button:hover {
  background: rgba(233, 230, 230, 1);
}

[data-theme="dark"] .bf-footnote {
  background: #273126;
  box-shadow: var(--shadow);
}

/**
 * IMAGES
 */

img {
  background-color: var(--bg-color);
  z-index: 10;
  cursor: zoom-in; /* For enlarging */
}

.enlarged {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: contain !important;
  padding: 15px;
}

img.enlarged {
  cursor: zoom-out;
  background-color: transparent;
}

.note {
  background: var(--badge-color);
  font-size: 0.8em;
  padding: 0.75em 1.5em;
  color: currentColor;
}

.pull-wide {
  width: clamp(100%, calc(100vw - 10rem), 120vh);

  /**
   * clean-css mangles the following rule by transforming `0px` to `0`, which
   * in _any other situation_ is equivalent, but in clamp results in a syntax
   * error in all browsers as of 2020-12-05.
   */

  /* clean-css ignore:start */
  margin-left: clamp(
    ( 120vh - 45rem ) / -2,
    ( 100vw - 55rem ) / -2,
    0px
  );
  /* clean-css ignore:end */
}

.pull-wide-banner img {
  object-fit: cover; 
  width: 100%; 
  height: 100%
}