.topbar {
  background-color: var(--page-primary-color);
  padding: 1.6em 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-family: "Alright Narrow";
  font-weight: bold;
}

.topbar a:link, .topbar a:visited {
  color: currentColor;
  text-decoration: none;
}

.search-icon {
  grid-area: l-gutter;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 1.5em;
  align-items: center;
}

.topbar.nameplate-visible .search-icon {
  height: 2.7em; /* magic num */ 
}

.topbar.nameplate-hidden .search-icon {
  height: 1.8em; /* magic num */ 
}

.search-button {
  padding: 0;
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  display: inline;
  opacity: 0.3;

  transition: opacity 0.35s ease, transform 0.35s ease;
}

.search-button:hover {
  opacity: 0.5;
}

.search-button:active {
  transform: scale(0.9);
}

.nameplate {
  font-size: 1.5em;
}

.topbar-nav {
  display: flex;
  gap: 2em;
}