---
permalink: "blog/{{page.date | dateformat: 'yyyy'}}/{{ page.fileSlug | extractPostSlug }}/"
layout: base.njk
cssFiles: ["post.css", "prism.css"]
---

<div class="pre-article">
    {% set metadata %}
    Written on {{date | dateformat}} • {{content | striptags | wordcount}} words
    {% endset %}

    {% bigTitle title,
    metadata %}
</div>

<article>
    {% if outdated %}
        <div class="note">
            <p>
                <strong>This is outdated!</strong> There's no better time for learning and growing than the present. I don't stand by this post anymore—my beliefs have changed, or I've stopped doing it this way, or I realized it's just flat out wrong. I've kept it up for historical purposes, but just know that I give this one the side-eye today. </p>
        </div>
    {% endif %}
    {{content | safe }}
</article>

<hr>

<div class="related-links">
    {% if prevPost.url %}
        <div class="prev-article-link">
            <strong>Previous Post</strong><br>
            <a href="{{prevPost.url}}">{{prevPost.data.title}}</a>
        </div>
    {% endif %}
    {% if nextPost.url %}
        <div class="next-article-link">
            <strong>Next Post</strong><br>
            <a href="{{nextPost.url}}">{{nextPost.data.title}}</a>
        </div>
    {% endif %}
</div>

<div class="whoami-box">
    <p>
        <strong>Who am I?</strong><br>I'm James Little, a software engineer and design enthusiast based in Boston, MA. I work at Stripe on the Docs team, and I build a search web tool called Stork Search.</p>
</div>

<div class="whoami-box">
    <p>
        <strong>Come say hello!</strong><br>If you liked this post, come say so by <a href="/guestbook">signing my guestbook!</a>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/philgruneich/barefoot/dist/css/barefoot.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/philgruneich/barefoot/dist/js/barefoot.min.js"></script>
    <script src="/post.js"></script>