--- 
layout: base.njk 
title: "Portfolio" 
cssFiles: ["content/styles/portfolio-listing.css"]
---

<h1 class="big-title">Portfolio of Projects</h1>

<style>
    ul.portfolio-index {
        padding: 0;
        margin: 0;
    }
</style>

<p>Outside of work, I build software to explore new areas and solve different puzzles. This is a selection of other things I've built.</p>

<ul class="portfolio-index">
    {%- for project in collections.portfolio | reverse -%}
        {% include "portfolio-listing.njk" %}
    {%- endfor -%}
</ul>

<h1>More</h1>

<ul>
    <li>
        <a href="https://rothrotterlaster.com">A website for a pediatric practice in Brookline, MA, built with Gatsby</a>
        (Summer 2019)</li>
    <li>
        <a href="https://digitalcommons.bowdoin.edu/honorsprojects/124/">"Teaching Computers to Teach Themselves:"</a> My senior thesis for my Computer Science degree at Bowdoin College, formalizing a technique for developing machine learning training data (Spring 2019)
    </li>
    <li>
        <a href="https://directory.jameslittle.me">A Bowdoin Directory with live search and more information displayed</a>
        (Fall 2018)</li>
    <li>
        <a href="https://files.jameslittle.me/projects/ait-graphics-final/index.html">A Marble Blast Gold clone built with WebGL</a>
        (Spring 2018)</li>
    <li>
        <a href="https://github.com/jameslittle230/shortlink">A link shortening service that writes to a file instead of using a database</a>
        (Spring 2018)</li>
    <li><a href="https://bowdoinorient.com/housing">An interactive Bowdoin campus map to visualize the likelihood of housing lottery outcomes</a> (Spring 2017)</li>
</ul>