---
cssFiles: ["content/styles/main.css"]
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any">
    <link rel="manifest" href="/site.webmanifest">

    {% set js %}
      {% include "content/scripts/main.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>

    {% for file in cssFiles %}
      {% set css %}
        {% include file %}
      {% endset %}
      <!-- {{ file }} -->
      <style>
        {{css | cssmin | safe}}
      </style>
    {% endfor %}

    {# https://web.dev/defer-non-critical-css/ #}
    <link rel="preload" href="https://rsms.me/inter/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://files.jameslittle.me/webfonts/jetbrains-mono/jetbrains-mono.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
      <link rel="stylesheet" href="https://files.jameslittle.me/webfonts/jetbrains-mono/jetbrains-mono.css"/>
    </noscript>

    <title>{{ "DEV • " if environment.development }} {{ title }} • jameslittle.me</title>

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{title}} • jameslittle.me" />
    <meta property="og:description" content="{{blurb if blurb}} • jameslittle.me" />
    <meta
      property="og:image"
      content="https://jameslittle.me/apple-touch-icon.png"
    />
  </head>
  <body>
    <div id="scrim"></div>
    {% include "topbar.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footbar.njk" %}

    {% set matomo %}
      {% include "content/scripts/matomo.js" %}
    {% endset %}
    <script>
      {{ matomo | jsmin | safe }}
    </script>
  </body>
</html>