<section class="footbar">
    <p title="And yes, that _does_ mean it took me two years to write a dang blog post.">Made by James Little between 2016 and 2020.</p>

    <p>
        <button class="link" id="dark-mode-switch">
            <span id="light-text">Switch to Dark Mode</span>
            <span id="dark-text">Switch to Light Mode</span>
        </button>
        {# <button class="link">Make the site bigger</button> #}
    </p>

    <div class="links">
        <a href="https://twitter.com/jameslittle230">Twitter</a>
        <a href="https://instagram.com/jameslittle230">Instagram</a>
        <a href="https://github.com/jameslittle230">Github</a>
        <a href="https://linkedin.com/in/james-little-230">LinkedIn</a>
        <a href="https://news.ycombinator.com/user?id=jil">Hacker News</a>
        <a href="https://lobste.rs/u/jil">Lobste.rs</a>
        <a href="https://twitch.tv/jameslittle230">Twitch</a>
    </div>
    <div class="links">
        <a href="https://files.jameslittle.me/resume/JamesLittleFall2018.pdf">Résumé</a>
        <a href="/pages">All Pages</a>
        <a href="/feed.xml">RSS&nbsp;Feed</a>
    </div>
    </section>