<li class="portfolio-listing">
    <a href="{{ project.url }}">
        {% if project.data.thumbnail %}
        <picture>
            <source type="image/webp" srcset="https://files.jameslittle.me/images/portfolio/{{project.data.thumbnail}}-thumb.webp">
            <source type="image/jpeg" srcset="https://files.jameslittle.me/images/portfolio/{{project.data.thumbnail}}-thumb.jpg">
            <img src="https://files.jameslittle.me/images/portfolio/{{project.data.thumbnail}}.jpg" alt="">
        </picture>
        {% endif %}
        <div class="text">
            <h2>{{ project.data.title }}</h2>
            <p>{{ project.data.blurb }}</p>
            <p class="stats">{{ project.data.platform }} • {{ project.data.when }}</p>
        </div>
    </a>
</li>