---
layout: base
---

<p><a href="/portfolio">&larr; Back to Portfolio</a></p>

<h1 class="big-title">{{title}}</h1>

<div class="metadata">
    <p>{{blurb}}</p>
    <p class="stats">{{platform}} <span>•</span> {{when}}</p>
    {% if link %}
    <p class="big-link">
        <a href="{{link}}">{{link}}</a>
    </p>
    {% endif %}
</div>

{{ content | safe }}

<style>
.metadata {
    opacity: 0.7;
    margin: 3em 0;
    width: 80%;
}

.metadata p {
    margin: 0;
}

.metadata .stats {
    margin: 1em 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.big-link {
    font-size: 1.5em;
    font-weight: bold;
}

.portfolio-image-small {
display: block;
max-width: 480px;
margin: 1em auto;
border: 1px solid hsla(0, 0%, 0%, 0.5);
border-radius: 5px;
}
</style>