<li class="post-listing boxed-list-element">
    <a href="{{ post.url }}" class="post-listing-flex">
        <span class="tabl date badge">{{ post.date | dateformat }}</span>
        <div>
            <p class="title">{{ post.data.title }}</p>
            {% if post.data.blurb %}
                <p class="blurb">{{ post.data.blurb }}</p>
            {% endif %}
        </div>
    </a>
</li>