--- 
permalink: "blog/{{page.date | dateformat: 'yyyy'}}/{{ page.fileSlug | extractPostSlug }}/" 
layout: base.njk 
---

<link rel="stylesheet" href="/styles/post.css"/>

<div class="pre-article">
    <div class="metadata">
        <p>
            Written on
            {{date | dateformat}}
            •
            {{content | striptags | wordcount}}
            words
        </p>
    </div>

    <h1 class="big-title">{{title}}</h1>

    {% if oldAlert %}
        <div class="note">
            <p><strong>This is old as heck!</strong> This post is old enough such that I don't agree anymore with a lot of the assertions I made in this post. Take things here with a grain of salt.</p>
        </div>
    {% endif %}
</div>

<article>
    {{content | safe }}
</article>

<hr>

<div class="related-links">
    {% if prevPost.url %}
        <strong>Previous Post</strong><br>
        <a href="{{prevPost.url}}">{{prevPost.data.title}}</a>
    {% endif %}
</div>

<div class="whoami-box color-box">
    <div class="whoami-text">
        <strong>Who am I?</strong>
    </div>
    <div>I'm James Little, a software engineer and design enthusiast in San Francisco. I'm currently working on Stripe Terminal.</div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/philgruneich/barefoot/dist/css/barefoot.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/philgruneich/barefoot/dist/js/barefoot.min.js"></script>
<script src="/post.js"></script>