<section class="topbar">
  <div>
    <a href="/" class="back-home">jameslittle.me</a>
  </div>
  <div class="linked-list">
    <a href="/blog">blog</a>
    <a href="/portfolio">portfolio</a>
    <a href="/books">reading list</a>
    <a href="/guestbook">guestbook</a>
  </div>
</section>