<section class="topbar">
  <nav id="search-toggle-target">
    <div id="nameplate">
      <a href="/" class="back-home">jameslittle.me</a>
    </div>
    <div id="topbar-caret">&darr;</div>
    <div id="linked-list">
      <a href="/blog">blog</a>
      <a href="/portfolio">projects</a>
      <a href="/books">reading log</a>
      <a href="/guestbook">guestbook</a>
      <button class="link undecorated" id="search-toggle">search</button>
    </div>
  </nav>
  <div class="stork-wrapper">
    <button id="manual-search-toggle-close" class="stork-close-button">&times;</button>
    <input type="text" id="stork-input" placeholder="type to search..." data-stork="jil"/>
  </div>
</section>

<div class="search-results" data-stork="jil-output"></div>