---
layout: page.njk
title: Reading Log
slug: "books"
---

<h1>Reading Log</h1>

<p>In January of 2014, inspired by <a href="http://www.jamierubin.net">Jamie Todd Rubin</a>, I started compiling a list of all the books I've read. 2014 marked the end of my junior year in high school, so a lot of these are books I read for school. I count listening to an audiobook as having read it, but my reading setup consists of Audible, my Kindle, and actual dead-tree books.</p>

<p>This explicitly <em>doesn't</em> track things I read online—you might be interested in my <a href="https://pinboard.in/u:littleguy23">pinboard.in profile</a> for that.</p>

{% for year, list in books %}

<h2>{{year}}</h2>

<ul>
{% for book in list %}
<li>{{ book.title }} - {{ book.author }}</li>
{% endfor %}
</ul>

{% endfor %}