---
layout: page.njk
title: Reading Log
slug: "components"
cssFiles: ["content/styles/portfolio-listing.css"]
---

<h1>All the components.</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<h2>This is an <code>h2</code> heading.</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<h3>This is an <code>h3</code> heading.</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<h4>This is an <code>h4</code> heading.</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<h5>This is an <code>h5</code> heading.</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>
<h6>This is an <code>h6</code> heading.</h6>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo,
  reprehenderit dolorum ullam cum ex. Fuga tempore iure ex voluptatum beatae,
  cumque perferendis saepe recusandae, in, aut rem aliquam perspiciatis!
</p>

<hr />

<p>An <code>h1</code> tag can have a class of <code>.big-title</code>...</p>

<div class="boxed-list-element">
  <h1 class="big-title">This is a Big Title!</h1>
</div>

<p>and that's usually accompanied by a preceding metadata div:</p>

<div class="boxed-list-element">
  <p class="metadata">Written on 2021-03-31</p>
</div>

To get both together, use the
<code>{% raw %}{% bigTitle "My Title", "Posted on 2021-04-01" %}{% endraw %}</code>
Nunjucks macro.

<div class="boxed-list-element">
{% bigTitle "My Title", "Posted on 2021-04-01" %}
<p>This is some text afterwards</p>
<hr>
{% bigTitle "My Title Without a Metadata Block" %}
<p>This is some text afterwards</p>
</div>

<h2>This is a list.</h2>

<ul>
  <li>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, ratione
    atque, aperiam facere cum, animi quia eos quam dolore eligendi aliquam! Rem
    obcaecati quas ipsa dolorum reiciendis dicta quam atque!
  </li>
  <li>
    Vel voluptas recusandae qui quod fugit non culpa ratione modi pariatur
    aliquam perferendis saepe temporibus est vero, sint obcaecati neque quo
    consequuntur atque reprehenderit nulla illo placeat! Iste, quas fuga?
  </li>
  <li>
    Beatae minima minus iure tempore ad delectus, ipsum fuga? Harum neque,
    provident autem laudantium nesciunt veritatis voluptate asperiores totam
    velit sunt, beatae alias dolores fugiat officia saepe aspernatur itaque.
    Sunt.
  </li>
  <li>
    Voluptatem ipsam eos ducimus ut delectus reprehenderit in enim quidem.
  </li>
  <li>
    Modi nam, totam suscipit odio accusantium quod recusandae est beatae laborum
    earum ipsum labore consectetur ex enim incidunt eum fuga pariatur inventore
    velit, aliquid debitis! Laborum minus culpa alias commodi?
  </li>
</ul>

<div class="boxed-list-element">
<div class="portfolio-listing boxed-list-element">
  <div class="image">
    <a href="https://stork-search.net"
      ><picture style="min-height: 100%"
        ><img
          src="https://files.jameslittle.me/images/tmp/stork-thumb.png"
          alt="" /></picture
    ></a>
  </div>
  <div class="text">
    <div
      style="
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      "
    >
      <a href="https://stork-search.net"
        ><h2>Stork <span class="ext-arrow">↗</span></h2></a
      ><a class="github-link" href="https://github.com/jameslittle230/stork"
        ><svg
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 100 100"
          style="width: 1.6em; height: 1.6em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m0-31.904c-8.995 0-16.288 7.293-16.288 16.29 0 7.197 4.667 13.302 11.14 15.457.815.149 1.112-.354 1.112-.786 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.881-1.809-2.382-1.809-2.382-1.479-1.011.112-.991.112-.991 1.635.116 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.354.148-1.053.568-1.771 1.034-2.178-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.232 1.677-4.371-.168-.412-.727-2.068.159-4.311 0 0 1.368-.438 4.48 1.67 1.299-.361 2.693-.542 4.078-.548 1.383.006 2.777.187 4.078.548 3.11-2.108 4.475-1.67 4.475-1.67.889 2.243.33 3.899.162 4.311 1.044 1.139 1.675 2.593 1.675 4.371 0 6.258-3.809 7.635-7.438 8.038.585.503 1.106 1.497 1.106 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.293.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455 0-8.997-7.294-16.29-16.291-16.29"
            fill="#181717"
            transform="matrix(3.06946 0 0 3.14714 49.9954 100.406)"
          ></path></svg
      ></a>
    </div>
    <a href="https://stork-search.net"
      ><p>
        Search for static sites. Index your content and add search to your
        website, no server-side processing required.
      </p>
      <p class="stats">Native &amp; WASM • 2019–</p></a
    >
  </div>
</div>
</div>