---
layout: page.njk
title: Guestbook
permalink: "guestbook/index.html"
templateEngineOverride: njk
cssFiles: ["guestbook.css"]
---

<h1>Guestbook</h1>

<p>
  Welcome to my website! A lot of websites long ago (like, 2007) had guestbooks:
  a place to sign your name and write a note and let the webmaster (again, 2007)
  know that you made it.
</p>

<p>
  So I made my site a guestbook. If you made it here, whether I know you or not,
  write something down!
</p>

<p>
  I also wrote about
  <a href="/blog/2020/about-the-guestbook/">how I made this</a>, if you're into
  that sort of thing.
</p>

<script>
  function count(quantity, singular, plural) {
    return `${quantity} ${quantity === 1 ? singular : plural}`;
  }

  function toIso(date) {
    return new Date(Number(date)).toISOString().split("T")[0];
  }

  function relative(date) {
    date = new Date(Number(date));
    var delta = Math.round((+new Date() - date) / 1000);

    var minute = 60,
      hour = minute * 60,
      day = hour * 24,
      week = day * 7;

    var fuzzy = null;

    if (delta < 30) {
      fuzzy = "just now";
    } else if (delta < minute) {
      fuzzy = delta + " seconds ago";
    } else if (delta < 2 * minute) {
      fuzzy = "a minute ago";
    } else if (delta < hour) {
      fuzzy = Math.floor(delta / minute) + " minutes ago";
    } else if (Math.floor(delta / hour) == 1) {
      fuzzy = "1 hour ago";
    } else if (delta < day) {
      fuzzy = Math.floor(delta / hour) + " hours ago";
    } else if (delta < day * 2) {
      fuzzy = "yesterday";
    } else if (delta < day * 7) {
      fuzzy = "this week";
    } else if (delta < day * 14) {
      fuzzy = "last week";
    } else if (delta < day * 31) {
      fuzzy = "this month";
    }

    return fuzzy || toIso(date);
  }
</script>

<div>
  <form
    x-data='{
      name: "", 
      email: "", 
      url: "", 
      message: "",

      submissionState: null,
      submissionError: null,

      submitButtonText() {
        if (!this.submissionState) {
          return "Submit &darr;"
        } else if (this.submissionState === "submitting") {
          return "Submitting..."
        } else if (this.submissionState === "success") {
          return "Thanks!"
        } else if (this.submissionState === "error") {
          return "Try again..."
        }
      },

      messageCharactersRemaining() {
        return 350 - this.message.length;
      },

      messageCharactersRemainingText() {
        return this.messageCharactersRemaining() <= 50 
          ? `${count(
              this.messageCharactersRemaining(),
              "character",
              "characters"
            )} remaining` 
          : ""
      },

      isFormSubmittable() {
        return (
          this.messageCharactersRemaining() >= 0 &&
          this.name !== "" &&
          this.message !== ""
        );
      },

      handleSubmit(data) {
        if(!this.isFormSubmittable()) { return }
        this.submissionState = "submitting"
        fetch("https://api.jameslittle.me/guestbook", {
          method: "post",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },

          //make sure to serialize your JSON body
          body: JSON.stringify(data)
        }).then((response) => {
          return Promise.all([response, response.text()]);
        }).then(([response, text]) => {
          console.log(text)
          if(response.ok) {
            this.submissionState = "success"
          } else {
            this.submissionState = "error"
            this.submissionError = text
          }
        })
      }
    }'
    @submit.prevent="handleSubmit({name, email, url, message})"
  >
    <p
      class="form-submission-message"
      x-cloak
      x-show="!!submissionError"
      x-text="submissionError"
    ></p>

    <fieldset>
      <label for="name" class="required">Name:</label>
      <input
        type="text"
        x-model="name"
        id="name"
        name="name"
        autocomplete="off"
      />

      <label for="name">Email (never displayed):</label>
      <input type="email" x-model="email" id="email" name="email" />

      <label for="name">URL:</label>
      <input type="url" x-model="url" id="URL" name="URL" />

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        "
      >
        <label for="message" class="required">Message:</label>
        <span class="metadata" x-text="messageCharactersRemainingText"></span>
      </div>

      <textarea
        name="message"
        x-model="message"
        id="message"
        style="height: 10rem"
        placeholder="Type something nice!"
      ></textarea>

      <button
        type="submit"
        class="submit-button"
        disabled
        :disabled="!isFormSubmittable()"
        x-text="submitButtonText()"
      >
        Submit &darr;
      </button>
    </fieldset>
  </form>
  <div
    style="margin-top: 4rem"
    x-data='{
      dynamicData: {},
      
      init() {
        fetch("https://api.jameslittle.me/guestbook?after={{(guestbook | first).id}}")
          .then(r => r.json())
          .then(data => {this.dynamicData = data; hideIsoDate()})
      }
    }'
  >
    <h2 x-show="false">Loading newest entries...</h2>
    <h2
      x-cloak
      x-text="dynamicData.total_count ? `${dynamicData.total_count} entries` : 'Loading newest entries...'"
    ></h2>

    <ul class="guestbook">
      <template x-if="dynamicData.items">
        <template x-for="dynamicItem in dynamicData.items.reverse()">
          <li
            :id="dynamicItem.id"
            class="guestbook-entry dynamic-guestbook-entry boxed-list-element"
          >
            <div class="guestbook-metadata">
              <span class="name" x-text="dynamicItem.name"></span>
              <span
                class="timestamp metadata"
                x-text="relative(new Date(dynamicItem.created_at))"
              ></span>
            </div>
            <span class="url">
              <a x-bind:href="dynamicItem.url" x-text="dynamicItem.url"></a>
            </span>
            <div class="message">
              <p x-text="dynamicItem.message"></p>
            </div>
          </li>
        </template>
      </template>

      {% for entry in guestbook %}
      <li class="guestbook-entry boxed-list-element" id="{{entry.id}}">
        <div class="guestbook-metadata">
          <span class="name">{{entry.name}}</span>
          <span class="timestamp metadata">
            <span>{{entry.created_at | relativeDate}}</span>
            <span class="absolute">{{entry.created_at | dateformat}}</span>
          </span>
        </div>
        <span class="url">
          <a href="{{entry.url}}">{{entry.url}}</a>
        </span>
        <div class="message">
          <p>{{entry.message}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script src="//unpkg.com/alpinejs" defer></script>

<!-- prettier-ignore -->
{% set guestbookscript %}
  {% include "statics/scripts/guestbook.js" %}
{% endset %}

<!-- prettier-ignore -->
<script>
  {{ guestbookscript | jsmin | safe }}
</script>
